:root {
    --background_color: #f4f7f9;
    --base_color: #9c9c9b;
    --text_color: #222248;
    --feature_color: #222248;
    --footer_background_color: #f4f7f9;
    --footer_text_color: #222248;
    --navbar_color: #f4f7f9;
    --menu_color: #f4f7f9;
    --border_color: #e4e7e9;
    --success_color: #4bcf90;
    --warning_color: #e09079;
    --danger_color: #ff6d68;
    --base_color_10: #ff8c091a;
    --base_color_20: #ff8c0933;
    --base_color_30: #ff8c094d;
    --base_color_60: #ff8c0999;
}

.top_menu_icon {
    color: var(--base_color) !important;
}

.toast-success {
    background-color: #4bcf90 !important;
}

.toast-error {
    background-color: #ff6d68 !important;
}

.toast-warning {
    background-color: #e09079 !important;
}

.newsletter_form_wrapper .newsletter_form_inner .newsletter_form_thumb {
    height: 100%;
    background-image: url(frontend/default/img/popup.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


@media (max-width: 768px) {
    .newsletter_form_wrapper .newsletter_form_inner .newsletter_form_thumb {
        height: 100% !important;
    }
}

@media (max-width: 575.98px) {
    .fb_dialog_content iframe {
        bottom: 60px !important;
    }

    .newsletter_form_wrapper .newsletter_form_inner {
        width: 400px !important;
    }

    .newsletter_form_wrapper .newsletter_form_inner .newsletter_form_thumb {
        height: 600px !important;
        opacity: .3;
    }

    .newsletter_form_wrapper .newsletter_form_inner .newsletter_form {
        padding: 50px 30px;
        position: absolute;
        top: 150px;
    }
}

@media (max-width: 395px) {
    .newsletter_form_wrapper .newsletter_form_inner {
        width: 385px !important;
    }

    .newsletter_form_wrapper .newsletter_form_inner .newsletter_form {
        top: 125px;
    }

    .message_div,
    .message_div_modal {
        min-height: 10px;
    }
}

@media (max-width: 375px) {
    .newsletter_form_wrapper .newsletter_form_inner {
        width: 345px !important;
    }

    .newsletter_form_wrapper .newsletter_form_inner {
        height: 550px !important;
    }

    .newsletter_form_wrapper .newsletter_form_inner .newsletter_form_thumb {
        height: 550px !important;
    }
}

@media only screen and (max-width: 896px) and (max-height: 414px) {
    .newsletter_form_wrapper .newsletter_form_inner {
        height: 410px;
    }
}

@media only screen and (max-width: 720px) and (max-height: 540px) {
    .newsletter_form_thumb {
        display: none !important;
    }

    .newsletter_form_wrapper .newsletter_form_inner {
        height: 335px;
        width: 600px;
    }
}

@media only screen and (max-width: 653px) and (max-height: 280px) {
    .newsletter_form_wrapper .newsletter_form_inner {
        height: 335px;
        width: 600px;
    }

    .newsletter_form_wrapper .newsletter_form_inner .newsletter_form h3 {
        font-size: 20px;
    }

    .newsletter_form_wrapper .newsletter_form_inner .newsletter_form p {
        margin: 5px 0 5px;
    }

    .newsletter_form_wrapper .newsletter_form_inner .close_modal {
        top: 30px;
    }
}

@media only screen and (max-width: 280px) and (max-height: 653px) {
    .newsletter_form_thumb {
        display: none !important;
    }

    .newsletter_form_wrapper .newsletter_form_inner {
        height: 400px !important;
        width: 260px !important;
    }

    #top_bar {
        display: none;
    }

    .newsletter_form_wrapper .newsletter_form_inner .newsletter_form {
        padding: 35px 10px;
        margin-top: 0px;
        top: 40px;
    }
}

.popular_search_lists .popular_search_list {
    overflow: hidden;
    word-wrap: break-word;
}

.amaz_section {
     background-color: #f4f4f4;
     padding-left: 22px;
     padding-right: 15px;
}



@media (min-width: 767px) {
    /* Estilos para pantallas pequeñas */
    .containerm {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }

  @media only screen and (max-width: 600px) {
    .containerm {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }

.card_pulenta {
    width: 110px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.collapse:not(.show) {
    display: none;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card_pulenta:hover {
    transform: scale(1.05);
}

.card_pulenta img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card_pulenta .category-name {
    padding: 10px;
    height: 80px;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    #category-container {
        justify-content: center;
    }

    .min {
        width: 33% !important;
    }
    .amaz_section {
        background-color: #f4f4f4;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.product-card {
    width: 18%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 10px;
    text-align: center;
}

.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    color: #e44d26;
    font-weight: bold;
}

/* Estilos para el botón flotante de WhatsApp */
.fixed-action-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }

  /* Estilos para el icono del botón flotante */
  .fixed-action-btn i {
    font-size: 24px;
  }
  /* Media query para ocultar el botón en versiones móviles */
  @media (max-width: 767px) {
    .fixed-action-btn {
      display: none;
    }
  }
  a {
    color:inherit !important;
    text-decoration: none !important
}

  .footer_pulenta {
    font-family: miui,system-ui,-apple-system,BlinkMacSystemFont,\.SFNSText-Regular,Helvetica,Arial,sans-serif;
    width: 100%;
    padding-top: 29px;
    margin-top: 60px;
    background:#2e313d;
    color: #fff;
}

/* Para dispositivos pequeños y extra pequeños */
@media (max-width: 767px) {
    .footer_pulenta {
      display: none;
    }
  }

.mainContent {
    min-width: 1080px;
    max-width: 1440px;
    padding: 0 44px;
}

.On_hxEUn {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-direction: row;
    margin-bottom: 38px;
}

@media (max-width: 1500px) {
    .scale_layout.none_sidebar_layout ._3dD7BtuR {
        padding-right: 40px;
    }
  }

._3dD7BtuR {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-direction: row;
}

.On_hxEUn ._1OcLeWs0, .On_hxEUn ._3Ye8DDeE, .On_hxEUn .RJ_dMIAO {
    overflow: hidden;
}
.On_hxEUn>div {
    margin-right: 25px;
}

.On_hxEUn ._1OcLeWs0>._2s6AoEQ-, .On_hxEUn ._3Ye8DDeE>._2s6AoEQ-, .On_hxEUn .RJ_dMIAO>._2s6AoEQ- {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.On_hxEUn ._1OcLeWs0 .bKTvgBoH {
    margin-top: 8px;
}
ol, ul {
    list-style: none;
}

.On_hxEUn ._1OcLeWs0 ._3FUsk_Xl, .On_hxEUn ._1OcLeWs0 ._3FUsk_Xl ._1trc3v03, .On_hxEUn ._1OcLeWs0 ._3FUsk_Xl ._14GcF50W {
    white-space: break-spaces;
}
.On_hxEUn ._1OcLeWs0 ._3FUsk_Xl {
    font-size: 13px;
    line-height: 23px;
    margin-top: 8px;
    color: #fff;
}

.On_hxEUn .nr7lp_um {
    -webkit-user-select: none;
    user-select: none;
}
.On_hxEUn>div {
    margin-right: 25px;
}
._1K71og5w {
    flex-shrink: 0;
}
._3n_D-CG2 {
    margin-right: 25px;
}
._2s6AoEQ- {
    font-size: 14px;
    color: #fff;
}

._3tkV5Ka0 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12px;
}

._3tkV5Ka0 ._1tVjan5S {
    margin-right: 8px;
    height: 28px;
    margin-bottom: 10px;
}
.lazy-image {
    min-width: 1px;
    min-height: 1px;
}
.lazy-image {
    min-width: 1px;
    min-height: 1px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

._3n_D-CG2:last-child {
    margin-right: 0;
}
._3n_D-CG2 {
    margin-right: 25px;
}
._3z8dZp_J {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

._3z8dZp_J .a8MwUWjN {
    width: 42px;
    height: 28px;
    border-radius: 3px;
    margin-right: 8px;
    margin-bottom: 10px;
}
._4MlOOsYs {
    display: block;
    width: 100%;
    height: 100%;
}

.ODr-INpl {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
    border-top: 1px solid hsla(0,0%,100%,.1);
    margin-top: 30px;
    height: 76px;
    font-size: 12px;
    color: #fff;
}
._140wlebY {
    opacity: .5;
}
._2iFcK6Hc, .eH4ddcu6 {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
}
.eH4ddcu6 {
    margin-left: 4px;
}
._2iFcK6Hc {
    margin-left: 20px;
    text-decoration: none;
}

._3VEjS46S {
    color: inherit;
}
.On_hxEUn ._39XtDA6R {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.On_hxEUn ._39XtDA6R ._29LEYmI3 {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
    width: 33%;
    height: 26px;
    position: relative;
    margin-bottom: 27px;
    cursor: pointer;
}

.On_hxEUn ._39XtDA6R ._29LEYmI3 ._1A_g3U1b {
    width: 26px;
    height: 26px;
}

.product-img {
    margin-bottom: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
        width: 12rem
  }

  @media (max-width: 767px) {
    .product-img {
        margin-bottom: 10px;
            margin-bottom: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 13px;
            width: 6rem
      }
      .normal {
        padding: 2px!important;;
        font-size: 0.7rem!important;
    }
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 12px !important;
  }

  .card-body-product {
    padding: 10px;
  }

  .card-text-product {
    font-size: 16px;
    color: #333;
  }

  .product-name {
    font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
      }


  .poduct-normal {
    border-radius: 23px;
    border-color: #000000;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;
    padding: 6px;
    font-size: 0.8rem;
    width: 130px;
    height: 45px;
}

.menu-normal {
    border-radius: 23px;
    background-color: rgb(0 0 0 / 51%);
    color: white !important;
    padding: 8px;
    padding-left: 10px;
    font-size: 0.8rem;
    width: 180px;
    height: 35px;
}

.splide__list {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
}
.splide__slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
    list-style-type: none!important;
    margin: 0;
    position: relative;
}
.splide__slide {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.row-product > * {
    flex-shrink: 0;
    width: 200px;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.container-a {
    overflow-x: auto;
    white-space: nowrap;
}

.row-a {
    display: flex;
}

.col-a{
    padding-right: 2px;
}
/* Para navegadores basados en WebKit (como Chrome y Safari) */
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

/* Para navegadores basados en WebKit (como Chrome y Safari) */
::-webkit-scrollbar-thumb {
    background-color: #4e697d ; /* Color de la barra de desplazamiento */
}

/* Para navegadores basados en WebKit (como Chrome y Safari) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Para navegadores de Microsoft (Edge) */
::-ms-scrollbar {
    width: 7px;
    height: 5px;
}

/* Para navegadores de Microsoft (Edge) */
::-ms-scrollbar-thumb {
    background-color: #ff8c09; /* Color de la barra de desplazamiento */
}

/* Para navegadores de Microsoft (Edge) */
::-ms-scrollbar-track {
    background-color: #f1f1f1;
}
